.fotter{
    position: fixed;
    background-color: rgba(37, 36, 35, 0.932);
    bottom: 0;
    width: 100%;
}

.fotter a{
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 20px;
}

a.name{  
    font-size: 25px;
    font-weight: bold;
}

.fot-left{
    margin:10px 10px;
    float: left;
    
}

.fot-right{
    float: right;
    margin: 10px 250px;
    font-size: 20px;
}

.fot-links{
    display: flex;
    margin: 0px 100px;
    justify-content: space-between;
} 

.company-text{
    margin: 10px 20px;
    color: white;
    font-size: 15px;
}
