.header{
    background-color: rgb(144 128 215 / 93%);
    overflow: hidden;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.header a{
    color: white;
    float: left;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
}

.nav-tabs{
    float: right;
}

.header a.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.nav-tabs a:hover{
    background-color: black;
    color: white;
}

