.header{
    background-color: rgb(144 128 215 / 93%);
    overflow: hidden;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

.header a{
    color: white;
    float: left;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
}



.nav-tabs{
    float: right;
}

.header a.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.nav1:hover{
    color: black;
    cursor: pointer;
}

.bi{
    position: absolute;
    display: inline-block;
    font-size: 24px;
    padding-left: 10px;
    right: 4.5%;
    color: white;
}

